<!DOCTYPE html>
<html>

<head>
	<title>Brad's Mario Game</title>
	<meta charset = "utf-8"></meta>
	
	<link href = "/assets/styles.css" rel = "stylesheet" type = "text/css"/>
	
</head>

<body>
	
	
	

  
</body>


</html>